<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="homepage.css" type="text/css">
<link rel="icon" type="image/x-icon" href="favicon.png">
<title>Blog of Astora</title>
</head>
<body>
<div class="body-div">
<div class="header-div">
<div class="inline-div" style="width:435px">
<h1>Blog of Astora</h1>
</div>
<div class="inline-div" style="float:right">
<a class="block-link" href="https://www.linkedin.com/in/abigail-carroll-a94468310/">
LinkedIn
</a>
<a class="block-link" href="https://github.com/AbigailCarroll">
GitHub
</a>



</div>

</div>
<div class="body-text-div">

<p> Hello! Welcome to my blog. This is the <%= newCount%><%= ordinal%> page view, thank you! </p>
<p> My name's Abigail, online I go by Astora. I mostly code and play Magic: The Gathering and Dungeons & Dragons in between looking for a job. If you're a recruiter please email me at abigailcarroll50@gmail.com and I can send you my CV.</p>

<p> This website is hosted fully on my raspberry pi 3, currently sitting plugged in with a second hand micro usb next to my desk (say hi!).</p>
<div class="magic-card-div">
<img src="pi.jpg" alt="Raspberry Pi 3 sitting on the edge of my desk">
</div>
<p> All the HTML, CSS, and Nginx config was written by me, there's a little bit of javascript on the back-end that handles the view count and the ordinal, also written be me. The site is run locally with NodeJS and deployed through Nginx. </p>
<p> Oh! fun tidbit, I didn't want to pay for a new keyboard to use for the PI, so rather than learning to ssh into it from my laptop I downloaded an app that lets my phone act as a bluetooth keyboard. This decision has made my life worse in so many ways.</p>
<p> I've since learned from my mistakes and used PuTTY to SSH into the Pi. </p>
<p> All the code for this project can be found on my Github, linked at the top ^ </p>

<hr>
<ul>

<li> <a href="/ReadingList">Reading List </a> <p1>— Added 09/09/2024 </p1> </li>
</div>
</div>



</body>
</html>