<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="homepage.css" type="text/css">
<link rel="icon" type="image/x-icon" href="favicon.png">
<title>Reading List</title>
</head>
<body>
<div class="body-div">
<div class="header-div">
<div class="inline-div" style="width:435px">
<h1> <a class="back" href="https://blogofastora.co.uk/"> &lt&lt</a> Reading List</h1>
</div>


<div class="body-text-div">

<p> I wanted a place to save and share interesting/fun blogposts and content I find.</p>
<p >So here it is! </p>
<hr>

<p> <a href="https://github.com/TodePond/DreamBerd">"DreamBerd: The Perfect Programming Language" </a> </p>
<p> A great and functional language featuring: Time Travel! Dividing by Zero! Pure Functional Programming! </p>
<hr>

<p> <a href="https://ludic.mataroa.blog/blog/i-will-fucking-dropkick-you-if-you-use-that-spreadsheet/">"I Will Fucking Dropkick You If You Use That Spreadsheet"
</a> </p>
<p> A reasonable argument against using excel over SQL.</p>
<hr>

<p> <a href="https://eieio.games/essays/scaling-one-million-checkboxes/"> "Scaling One Million Checkboxes" </a>
<p>A warning not to go viral.</p>
<hr>
<p style="padding-top:50px"><p1>Date Created &mdash; 09/09/2024. </p1> </p>

</div>
</div>
</div>

</body>
</html>